<ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Admin Panel</li>
  </ol>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add an User to the System</h5>
          <p class="card-text">In here, you can add an employee to create its credentials</p>
          <a routerLink="/admin/add"class="btn btn-primary">Add User</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Remove an User from the System</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/admin/remove" class="btn btn-primary">Remove User</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit an User's Information</h5>
          <p class="card-text">Edit Information of a user</p>
          <a routerLink="/admin/edit" class="btn btn-primary">Edit User</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List all the Users in the System</h5>
          <p class="card-text">See all the registered users in the System.</p>
          <a routerLink="/admin/list" class="btn btn-primary">List Users</a>
        </div>
      </div>
    </div>
  </div>

